In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\javed\instacart Basket Analysis'

In [3]:
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_added_cols.pkl'))

In [4]:
#2. Find the aggregated mean of the “order_number” column grouped by “department_id”.
ords_prods_merged.groupby('department_id').agg({'order_number' : ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

3. How do the results for the entire dataframe differ from those of the subset? 
- The results are the same as the subset.

In [5]:
#4. Create a loyalty flag for existing customers using the transform() and loc() functions.
ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [6]:
ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal Customer'
ords_prods_merged.loc[ords_prods_merged['max_order'] <= 40, 'loyalty_flag'] = 'Regular Customer'
ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New Customer'

In [7]:
ords_prods_merged['loyalty_flag'].value_counts()

Regular Customer    463844
Loyal Customer      335086
New Customer        201070
Name: loyalty_flag, dtype: int64

In [10]:
#5. Determine whether the prices of products purchased by loyal customers differ from those purchased by regular/new customers.
ords_prods_merged.groupby('loyalty_flag').agg({'prices' : ['mean']})

                    prices
                      mean
loyalty_flag
Loyal Customer    7.897711
New Customer      7.738627
Regular Customer  7.798050

In [12]:
#6. Create a spending flag for each user based on the average price across all their orders.
ords_prods_merged['avg_price'] = ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [14]:
ords_prods_merged.loc[ords_prods_merged['avg_price'] < 10, 'spending_flag'] = 'Low Spender'
ords_prods_merged.loc[ords_prods_merged['avg_price'] >= 10, 'spending_flag'] = 'High Spender'

In [15]:
ords_prods_merged['spending_flag'].value_counts()

Low Spender     760344
High Spender    239656
Name: spending_flag, dtype: int64

In [17]:
ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ex8.pkl'))