# Exercise 4.6

Steps 1-7

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
path = r'C:\Users\javed\instacart Basket Analysis'

In [6]:
#3.Import orders_products_combined dataframe from pickle.
orders_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [8]:
#4.Check the shape of the imported dataframe.
orders_prods_combined.shape

(32434489, 12)

In [9]:
#5.Combine the orders_products_combined dataframe with your products data set.

In [11]:
#Importing products data set:
prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [12]:
prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [14]:
orders_prods_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

The 'product_id' column is a key linking the two dataframes.

In [1]:
df_1 = orders_prods_combined.drop(columns = ['Unnamed:0', 'days_since_prior_order'])

NameError: name 'orders_prods_combined' is not defined

In [2]:
df_2 = prods.drop(columns = ['Unnamed:0'])

NameError: name 'prods' is not defined

In [17]:
merged_df.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0

In [32]:
#6.Confirm the results of the merge using the merge flag.
merged_df['_merge'].value_counts()

both          32435059
left_only            0
right_only           0
Name: _merge, dtype: int64

In [37]:
#7.Export the newly created dataframe as orders_products_merged in a suitable format (taking size into consideration).
merged_df.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))